/db.sqlite3
/static/images
/static/img
/static/avatars
app1/migrations/*
!app1/migrations/__init__.py
app1/Проект_по_созданию_обучающего_сайта_топографических_знаков/__pycache__
/app1/__pycache__/
/__pycache__/
.idea
*.pyc
*.pdf
*.xlsx
*.iml
*.xml
*.env
