@media only screen and (max-width : 2000px) {
    body{
        margin:0;
        padding: 0;
        width: 100%;
        font-family: 'Comfortaa';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
        color:#464646;
    }
    /*стилизуем шапку*/
    .header-container{
        margin: 0;
        padding: 0;
        background: #6D886D;
        margin-bottom: 30px;
    }
    .main-nav{
        padding-right: 3%;
        padding-left: 5%;
    }
    .main-nav-list{
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none;
        justify-content: space-between;
    }
    .main-nav-list .nav-cont{
        display: flex;
        gap: 30px;
        margin: 0;
        padding:0;
        list-style-type: none;
    }
    .main-nav-list-item{
        padding-top: 5px;
    }
    .main-nav-list-item a{
        text-decoration: none;
        color: #FFFFFF;
        font-size: 26px;
    }
    .main-nav-list-item img{
        margin-top: 5px;
        width: 30px;
        height: 30px;
    }
    .main-nav-list-item a:hover {
        opacity: 0.7;
    }
    /*стилизуем основной контент*/

    .main-container{
        display: flex;
        padding: 0 30px 0;
    }
    .personal-information{
        width: 50%;
    }
    .photo-and-name{
        display: flex;
        gap:40px;
        line-height: 120px;
    }
    .name-account{
        line-height: 30px;
        display: flex;
        align-items: center;
    }
    .img-container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        width: 120px;
        height: 120px;
    }
    .img-container img{
        width: 100%;
        height: 100%;
        border-radius: 80px;
    }
    .personal-information p{
        margin: 5px;
    }
    .result-exam-information{
        width: 50%;
        padding: 0 5% 10% 0;
    }
    .name-table{
        line-height: 80px;
        margin-bottom: 0;
    }
    .result-list-container{
        width: 100%;
    }
    .result-list{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .result-list-item{
        display: flex;
    }
    .result-list-item div{
        width: 25%;
        text-align: center;
        border: 1px solid #D2D2D2;
    }
    .result-list-item .time-exam{
        width: 30%; 
    }
    .item-heading{
        background-color: #E7B56B;
        color: #FFFFFF;
    }
    .buttons-container{
        width: 70%;
        display: flex;
        justify-content: space-between;
    }
    .button-edit, .button-save, .button-back{
        color: #FFFFFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        background: #E7B56B;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35), inset 0px 1px 3px rgba(0, 0, 0, 0.25);
        border-radius: 22px;
        padding:5px 0 5px;
        text-align: center;
        width: 40%;
        margin-bottom: 30px;
    }
    .hidden-button{
        display: none;
    }
    .button-edit:hover, .button-save:hover, .button-back:hover{
        cursor: pointer;
        opacity: 0.7;
    }
    input{
        border:none;
        outline: none;
        border-bottom: 2px solid #464646;
    }
    input[type="text"]
    {
        font-family: 'Comfortaa';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
        color:#464646;
        
    }
    .input-avatar{
        display: none;
    }
    .edit:hover{
        opacity: 0.7;
    }
}
@media only screen and (max-width : 769px) {
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        font-family: 'Comfortaa';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
        color: #464646;
    }

    /*стилизуем шапку*/
    .header-container {
        margin: 0;
        padding: 0;
        background: #6D886D;
        margin-bottom: 80px;
    }

    .main-nav {
        padding-right: 3%;
        padding-left: 5%;
    }

    .main-nav-list {
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none;
        justify-content: space-between;
    }

    .main-nav-list .nav-cont {
        display: flex;
        gap: 30px;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .main-nav-list-item {
        padding-top: 5px;
    }

    .main-nav-list-item a {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 26px;
    }

    .main-nav-list-item img {
        margin-top: 5px;
        width: 30px;
        height: 30px;
    }

    .main-nav-list-item a:hover {
        opacity: 0.7;
    }
    /*стилизуем основной контент*/
    .main-container{
        display: flex;
        padding: 0 30px 0;
        flex-direction: column;
    }
    .personal-information{
        width: 100%;
    }
    .photo-and-name{
        display: flex;
        gap:40px;
        line-height: 120px;
        margin-bottom: 30px;
    }
    .img-container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        width: 120px;
        height: 120px;
    }
    .img-container img{
        width: 100%;
        height: 100%;
        border-radius: 80px;
    }
    .personal-information p{
        margin: 5px;
    }
    .result-exam-information{
        width: 100%;
        padding: 0 5% 10% 0;
    }
    .name-table{
        line-height: 80px;
        margin-bottom: 0;
    }
    .result-list-container{
        width: 100%;
    }
    .result-list{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .result-list-item{
        display: flex;
    }
    .result-list-item div{
        width: 25%;
        text-align: center;
        border: 1px solid #D2D2D2;
    }
    .item-heading{
        background-color: #E7B56B;
        color: #FFFFFF;
    }
}
@media only screen and (max-width : 426px) {
     body{
        margin:0;
        padding: 0;
        width: 100%;
        font-family: 'Comfortaa';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 20px;
        color:#464646;
    }
     /*стилизуем шапку*/
    .header-container{
        margin: 0;
        padding: 0;
        background: #6D886D;
        margin-bottom: 30px;
    }
    .main-nav{
        padding-right: 3%;
        padding-left: 5%;
    }
    .main-nav-list{
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none;
        justify-content: space-between;
    }
    .main-nav-list .nav-cont{
        display: flex;
        gap: 15px;
        margin: 0;
        padding:0;
        list-style-type: none;
    }
    .main-nav-list-item{
        padding-top: 5px;
    }
    .main-nav-list-item a{
        text-decoration: none;
        color: #FFFFFF;
        font-size: 15px;
        line-height: 30px;
    }
    .main-nav-list-item img{
        margin-top: 5px;
        width: 20px;
        height: 20px;
    }
    .main-nav-list-item a:hover {
        opacity: 0.7;
    }
    /*стилизуем основной контент*/
    .main-container{
        display: flex;
        padding: 0 15px 0;
        flex-direction: column;
    }
    .personal-information{
        width: 100%;
    }
    .photo-and-name{
        display: flex;
        gap:20px;
        line-height: 90px;
        margin-bottom: 20px;
    }
    .img-container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        width: 90px;
        height: 90px;
    }
    .img-container img{
        width: 100%;
        height: 100%;
        border-radius: 80px;
    }
    .personal-information p{
        margin: 5px;
    }
    .result-exam-information{
        width: 100%;
        padding: 0 5% 10% 0;
    }
    .name-table{
        line-height: 50px;
        margin-bottom: 0;
    }
    .result-list-container{
        width: 100%;
    }
    .result-list{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .result-list-item{
        display: flex;
    }
    .result-list-item div{
        width: 25%;
        text-align: center;
        border: 1px solid #D2D2D2;
    }
    .item-heading{
        background-color: #E7B56B;
        color: #FFFFFF;
    }
}
