@media only screen and (max-width : 2000px) {
    body{
        margin:0;
        padding: 0;
        width: 100%;
        font-family: 'Comfortaa';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
        color:#464646;
    }
    .content{
        min-height: calc(100vh - 50px);
    }
    /*стилизуем шапку*/
    .header-container{
        margin: 0;
        padding: 0;
        background: #6D886D;
        margin-bottom: 30px;
    }
    .main-nav{
        padding-right: 3%;
        padding-left: 5%;
    }
    .main-nav-list{
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none;
        justify-content: space-between;
    }
    .main-nav-list .nav-cont{
        display: flex;
        gap: 30px;
        margin: 0;
        padding:0;
        list-style-type: none;
    }
    .main-nav-list-item{
        padding-top: 5px;
    }
    .main-nav-list-item a{
        text-decoration: none;
        color: #FFFFFF;
        font-size: 26px;
    }
    .main-nav-list-item img{
        margin-top: 5px;
        width: 30px;
        height: 30px;
    }
    .main-nav-list-item a:hover {
        opacity: 0.7;
    }
    /*стилизуем основной контент*/

    .main-container{
        display: flex;
        padding: 0 30px 0;
    }
    .personal-information{
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    .photo-and-name{
        display: flex;
        gap:40px;
        line-height: 120px;
    }
    .name-and-role{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .name-account{
        line-height: 30px;
        display: flex;
        align-items: center;
    }
    .role-container{
        
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        
    }

    .role-icon{
        width: 10px;
        height: 10px;
    }
    .img-container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        width: 120px;
        height: 120px;
    }
    .img-container img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
    .personal-information p{
        margin: 5px;
    }
    .result-exam-information{
        width: 50%;
        padding: 0 5% 5% 0;
    }
    .name-table{
        margin-top: 40px;
        line-height: 40px;
        margin-bottom: 0;
        display: inline-block;
        background-color: #f4f4f4;
        padding-left: 10px;
        padding-right: 20px;
        border-top-right-radius: 50px;
        border-top-left-radius: 10px;
    }
    .result-list-container{
        width: 100%;
    }
    .result-list{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .result-list-item{
        display: flex;
    }
    .result-list-item div{
        width: 25%;
        text-align: center;
    }
    .result-list-item .time-exam{
        width: 30%;
    }
    .item-heading .start-time{
        line-height: 30px;
    }
    .result-list-item .start-time{
        width: 30%;
    }
    .result-list-item .number-exam{
        width: 15%;
    }
    .item-heading{
        background-color: #f4f4f4;
        border-top-right-radius: 10px;
    }
    .buttons-container{
        margin-top: 15px;
        width: 70%;
        display: flex;
        justify-content: space-between;
    }
    .button-edit, .button-save, .button-back, .button-download{
        background: #464646;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.35) inset;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.35) ;
        border-radius: 22px;
        padding:5px 0 5px;
        line-height: 24px;
        text-align: center;
        width: 40%;
        margin-bottom: 30px;
    }
    .button-download{
        margin-top: auto;
        width: 60%;
    }

    .button-download a{
        color: inherit;
        text-decoration: none;
        display: block;
    }

    .icon-download{
        line-height: 30px;
        margin-left: 10px;
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
    }
    .hidden-button{
        display: none;
    }
    .button-edit:hover, .button-save:hover, .button-back:hover, .button-download:hover{
        cursor: pointer;
        opacity: 0.7;
    }
    input{
        border:none;
        outline: none;
        border-bottom: 2px solid #464646;
    }
    input[type="text"]
    {
        font-family: 'Comfortaa';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
        color:#464646;
    }
    .input-avatar{
        display: none;
    }
    .edit:hover{
        opacity: 0.7;
    }

    /*стилизуем подвал*/
    .footer-container{
        display: flex;
        justify-content: flex-end;
        background-color: #F5F5F5;
        padding: 15px 25px;
    }
    .button-form{
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
        color: #464646;
        font-size: 18px;
        font-family: Comfortaa;
        padding: 0;
        border-bottom: 2px solid #464646;
    }

    .button-form:hover{
        opacity: 0.7;
    }

    /*стилизуем попап*/
    .popup{
        position:fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
        transition: opacity 1s, visibility 0s;
    }
    .popup-body{
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #form-feedback{
        height: 70%;
        width: 40%;
        background-color: #FFFFFF;
        border-radius: 40px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 1px 3px rgba(0, 0, 0, 0.25);
        padding: 15px 50px;
    }

    form h2{
        font-size: 22px;
        text-align: center;
        margin-bottom: 10px;
    }

    .name, .email, .feedback, .rating{
        font-size: 16px;
        color: #464646;
        margin: 0;
        line-height: 30px;
    }

    form .form-input{
        border: 1px solid #464646;
        border-radius: 26px;
        height: 30px;
        font-size: 16px;
        padding-left: 10px;
        padding-right: 10px;
        width: 90%;
        font-family: 'Comfortaa';
        font-style: normal;
        font-weight: 400;
        color:#464646;
    }

    .circles{
        margin-top: 5px;
        margin-bottom: 5px;
        display: flex;
        gap: 10px;
    }

    .circle{
        border: 1px solid #0F1C3F;
        border-radius: 50%;
        height: 20px;
        width: 20px;
    }
    .circle:hover{
        cursor: pointer;
    }

    .red{
        background-color: #E18686;
    }
    .orange{
        background-color: #E7C06E;
    }
    .green{
        background-color: #9FCB9F;
    }

    .form-feedback-text{
        border: 1px solid #464646;
        border-radius: 26px;
        font-size: 16px;
        padding: 10px;
        width: 90%;
        font-family: 'Comfortaa';
        font-style: normal;
        font-weight: 400;
        color:#464646;
        outline: none;
        resize: none;
    }

    .form-button-container{
        display: flex;
        justify-content: space-between;
        width: 94%;
        margin-bottom: 15px;
    }

    .form-button-submit, .form-button-back{
        outline: none;
        background: none;
        cursor: pointer;
        border: none;
        text-decoration: underline solid #464646 1px;
        font-family: 'Comfortaa';
        font-style: normal;
        font-weight: 400;
        color:#464646;
        padding: 0;
        font-size: 16px;
    }
    .form-button-submit:hover, .form-button-back:hover{
        opacity: 0.7;
    }

    .form-button-submit{
        background-color: #E7B56B;
        padding: 7px 12px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 1px 3px rgba(0, 0, 0, 0.25);
        border-radius: 22px;
        color: #FFFFFF;
        text-decoration: none;
    }

    .hidden{ 
        display: none;
    }
}
@media only screen and (max-width : 830px) {
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        font-family: 'Comfortaa';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
        color: #464646;
    }

    /*стилизуем шапку*/
    .header-container {
        margin: 0;
        padding: 0;
        background: #6D886D;
        margin-bottom: 80px;
    }

    .main-nav {
        padding-right: 3%;
        padding-left: 5%;
    }

    .main-nav-list {
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none;
        justify-content: space-between;
    }

    .main-nav-list .nav-cont {
        display: flex;
        gap: 30px;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .main-nav-list-item {
        padding-top: 5px;
    }

    .main-nav-list-item a {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 26px;
    }

    .main-nav-list-item img {
        margin-top: 5px;
        width: 30px;
        height: 30px;
    }

    .main-nav-list-item a:hover {
        opacity: 0.7;
    }
    /*стилизуем основной контент*/
    .main-container{
        display: flex;
        padding: 0 30px 0;
        flex-direction: column;
    }
    .personal-information{
        width: 100%;
    }

    .photo-and-name{
        display: flex;
        gap:40px;
        line-height: 120px;
        margin-bottom: 30px;
    }

    .img-container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        width: 120px;
        height: 120px;
    }
    .img-container img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
    .personal-information p{
        margin: 5px;
    }
    .result-exam-information{
        width: 100%;
        padding: 0 5% 10% 0;
    }
    .name-table{
        line-height: 40px;
        margin-bottom: 0;
    }
    .result-list-container{
        width: 100%;
    }
    .result-list{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .result-list-item{
        display: flex;
    }
    .result-list-item div{
        width: 25%;
        text-align: center;
    }
    .result-list-item .start-time{
        width: 35%;
    }
    .result-list-item .number-exam{
        width: 10%;
    }
    .buttons-container{
        margin-left: auto;
        width: 70%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }
    .button-edit, .button-save, .button-back, .button-download{
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35), inset 0px 1px 3px rgba(0, 0, 0, 0.25);
        border-radius: 22px;
        padding:5px 0 5px;
        text-align: center;
        width: 40%;
        margin-bottom: 30px;
    }
    .button-download{
        width: 60%;
    }
    .button-download a{
        color: inherit;
        text-decoration: none;
        display: block;
    }
    .hidden-button{
        display: none;
    }
    .button-edit:hover, .button-save:hover, .button-back:hover, .button-download:hover{
        cursor: pointer;
        opacity: 0.7;
    }
    .button-edit{
        margin-left: auto;
    }
    input{
        border:none;
        outline: none;
        border-bottom: 2px solid #464646;
    }
    input[type="text"]
    {
        font-family: 'Comfortaa';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color:#464646;
        
    }
    .input-avatar{
        display: none;
    }
    .edit:hover{
        opacity: 0.7;
    }

    /*стилизуем подвал*/
    .footer-container{
        display: flex;
        justify-content: flex-end;
        background-color: #F5F5F5;
        padding: 15px 25px;
    }
    .button-form{
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
        color: #464646;
        font-size: 18px;
        font-family: Comfortaa;
        padding: 0;
        border-bottom: 2px solid #464646;
    }

    .button-form:hover{
        opacity: 0.7;
    }

     /*стилизуем попап*/
    #form-feedback{
        width: 70%;
    }

}
@media only screen and (max-width : 426px) {
     body{
        margin:0;
        padding: 0;
        width: 100%;
        font-family: 'Comfortaa';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 20px;
        color:#464646;
    }
     /*стилизуем шапку*/
    .header-container{
        margin: 0;
        padding: 0;
        background: #6D886D;
        margin-bottom: 30px;
    }
    .main-nav{
        padding-right: 3%;
        padding-left: 5%;
    }
    .main-nav-list{
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none;
        justify-content: space-between;
    }
    .main-nav-list .nav-cont{
        display: flex;
        gap: 15px;
        margin: 0;
        padding:0;
        list-style-type: none;
    }
    .main-nav-list-item{
        padding-top: 5px;
    }
    .main-nav-list-item a{
        text-decoration: none;
        color: #FFFFFF;
        font-size: 15px;
        line-height: 30px;
    }
    .main-nav-list-item img{
        margin-top: 5px;
        width: 20px;
        height: 20px;
    }
    .main-nav-list-item a:hover {
        opacity: 0.7;
    }
    /*стилизуем основной контент*/
    .main-container{
        display: flex;
        padding: 0 15px 0;
        flex-direction: column;
    }
    .personal-information{
        width: 100%;
    }
    .photo-and-name{
        display: flex;
        gap:20px;
        line-height: 90px;
        margin-bottom: 20px;
    }

    .role-container{
        font-weight: 300;
        font-size: 10px;
    }

    .role-icon{
        width: 10px;
        height: 10px;
    }
    .img-container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        width: 90px;
        height: 90px;
    }
    .img-container img{
        width: 100%;
        height: 100%;
        border-radius: 80px;
    }
    .personal-information p{
        margin: 5px;
    }
    .name-account{
        line-height: 20px;
    }
    .result-exam-information{
        width: 100%;
        padding: 0 5% 10% 0;
    }
    .name-table{
        line-height: 30px;
        margin-bottom: 0;
    }
    .result-list-container{
        width: 100%;
    }
    .result-list{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .result-list-item{
        display: flex;
    }
    .result-list-item div{
        width: 25%;
        text-align: center;
    }
    .result-list-item .time-exam{
        width: 30%;
    }
    .item-heading .start-time{
        line-height: 15px;
    }
    .result-list-item .start-time{
        width: 30%;
    }
    .result-list-item .number-exam{
        width: 15%;
    }
    .buttons-container{
        margin-left: auto;
        width: 70%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }
    .button-edit, .button-save, .button-back, .button-download{
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35), inset 0px 1px 3px rgba(0, 0, 0, 0.25);
        border-radius: 22px;
        padding:5px 0 5px;
        text-align: center;
        width: 40%;
        margin-bottom: 30px;
    }
    .button-download{
        width: 60%;
    }
    .button-download a{
        color: inherit;
        text-decoration: none;
    }
    .icon-download{
        width: 15px;
        height: 15px;
        margin-left: 5px;
    }
    .hidden-button{
        display: none;
    }
    .button-edit:hover, .button-save:hover, .button-back:hover, .button-download:hover{
        cursor: pointer;
        opacity: 0.7;
    }
    .button-edit{
        margin-left: auto;
    }
    input{
        border:none;
        outline: none;
        border-bottom: 2px solid #464646;
    }
    input[type="text"]
    {
        font-family: 'Comfortaa';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 20px;
        color:#464646;
        
    }
    .input-avatar{
        display: none;
    }
    .edit:hover{
        opacity: 0.7;
    }

    /*стилизуем подвал*/
    .footer-container{
        display: flex;
        justify-content: flex-end;
        background-color: #F5F5F5;
        padding: 12px 25px;
    }
    .button-form{
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
        color: #464646;
        font-size: 14px;
        font-family: Comfortaa;
        padding: 0;
        border-bottom: 2px solid #464646;
    }

    .button-form:hover{
        opacity: 0.7;
    }

     /*стилизуем попап*/

    #form-feedback{
        height: 80%;
        width: 70%;
    }

    form h2{
        font-size: 18px;
    }

    .name, .email, .feedback{
        font-size: 14px;
    }

    form .form-input{
        font-size: 14px;
    }

    .form-feedback-text{
        font-size: 14px;
    }

    .form-button-submit, .form-button-back{
        font-size: 14px;
    }

}
