body{
    margin:0;
    padding: 0;
    width: 100%;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    color:#464646;
}
/*стилизуем шапку*/
.header-container{
    margin: 0;
    padding: 0;
    background: #6D886D;
    margin-bottom: 80px;
}
.main-nav{
    padding-right: 3%;
    padding-left: 5%;
}
.main-nav-list{
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: space-between;
}
.main-nav-list .nav-cont{
    display: flex;
    gap: 30px;
    margin: 0;
    padding:0;
    list-style-type: none;
}
.main-nav-list-item{
    padding-top: 5px;
}
.main-nav-list-item a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 26px;
}
.main-nav-list-item img{
    margin-top: 5px;
}
.main-nav-list-item a:hover {
    opacity: 0.7;
}
/*стилизуем основую страницу*/
.name-container{
    display: flex;
    justify-content: right;
    padding-right: 10%;
    gap: 5%
}
.name-page{
    font-size: 30px;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
}
.signs-filter, .button-shou-more{
    display: flex;
    justify-content: space-between;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    background: #E7B56B;
    height: 40px;
    font-size: 20px;
    padding: 5px 10px 5px;
    margin: 0;
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35), inset 0px 1px 3px rgba(0, 0, 0, 0.25);
border-radius: 22px;
    outline: 0;
    width: 20%;
    color: #FFFFFF;
}

.signs-filter span{
    width: 80%;
}

.button-wrapper{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 40px;
}

.button-shou-more{
    justify-content: center;
    margin: auto;
}

.filter-list{
    position: absolute;
    margin-top: 60px;
    width: 40%;
    opacity: 1;
    transition: opacity 1s, visibility 0s;
}

.hidden{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0s 1s;
}
.signs-filter img{
    margin-top: auto;
    margin-bottom: auto;
}
.filter-list ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.filter-list-item{
    padding: 0 5px 0 ;
    background: #FFFFFF;
    border: 1px ;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35), inset 0px 1px 3px rgba(0, 0, 0, 0.25);
}
.filter-list-item:hover{
    background-color: aliceblue;
}
.filter-list-item:first-child{
    border-radius: 6px 6px 0px 0px;
}
.filter-list-item:last-child{
    border-radius: 0px 0px 6px 6px;
}
.signs-filter:hover, .button-shou-more:hover{
    opacity: 0.7;
    cursor: pointer;
}

.signs-container{
    display: flex;
    flex-wrap: wrap;
    padding: 0 5% 0;
    gap: 5%
}
.sign-container{
    width: 47%;
    display: flex;
    column-gap: 2%;
    margin-bottom: 20px;
    height: 260px;
    border: 1px ;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35), inset 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    -webkit-transition: all 1s ease;
          transition: all 1s ease;

}


.sign-container:hover{
    -webkit-transform: rotate(5deg); /* Градусы поворота можно изменить по необходимости */
          transform: rotate(5deg); /* Градусы поворота можно изменить по необходимости */
    cursor: pointer;
}

.sign-container{
    align-items: center;
}
.sign-container img{
    margin: 7px;
    max-height: 230px;
}
.description{
    width: 50%;
    display: inline-block;
    padding: 0;
    margin: 7px;
}

.img-container{
    width: 50%;
}
.name-sign{
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    line-height: 20px;
    font-size: 20px;
}
.description-sign{
    font-size: 16px;
    padding: 0;
    margin: 0;
    text-align: justify;
    line-height: 1.2;
}

.hidden-card{
    display: none;
}
.hidden-card-filter{
    display: none;
}

/*стилизуем подвал*/
.footer-container{
    padding: 30px;
    background-color: #F5F5F5;;
}

/*стилизуем попап*/
.popup{
    position:fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    transition: opacity 1s, visibility 0s;
}
.popup-body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup-content{
    display: flex;
    gap: 20px;
    width: 600px;
    min-height: 200px;
    padding: 30px 30px 10px;
    position: relative;
    background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 1px 3px rgba(0, 0, 0, 0.25);
border-radius: 40px;
}

.popup-img-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
.popup-text-container{
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
}

.popup-text-container div{
    margin-top: 20px;

}
.popup-name-sign{
    margin: 0px 0 20px;
    font-size: 20px;
    line-height: 25px;
}

.popup-description-sign{
    margin:0;
    font-size: 18px;
    line-height: 25px;
}

.popup-button-close{
    position: absolute;
    right: 4%;
    top: 6%;
}
.popup-button-close:hover{
    opacity: 0.7;
    cursor: pointer;
}
.popup-img-container div{
    height: 150px;
    width: 150px;
    text-align: center;
    line-height: 150px;
}
.popup-img-container img{
    max-height: 150px;
    max-width: 150px;
    vertical-align: middle;
}
