body{
    margin:0;
    padding: 0;
    width: 100%;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color:#464646;
}
/*стилизуем шапку*/
.header-container{
    margin: 0;
    padding: 0;
    background: #6D886D;
    margin-bottom: 80px;
}
.main-nav{
    padding-right: 11%;
    padding-left: 5%;
}
.main-nav-list{
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: space-between;
}
.main-nav-list .nav-cont{
    display: flex;
    width: 55%;
    justify-content: space-between;
    margin: 0;
    padding:0;
    list-style-type: none;
}
.main-nav-list-item{
    padding: 5px 0 5px;
}
.main-nav-list-item a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 26px;
}

.main-nav-list-item a:hover {
    opacity: 0.7;
}
/*стилизуем основной контент*/
.main-container{
    margin-bottom: 60px;
}
.start-test, .test-card-question{
    margin: 0 15% 50px;
    padding: 20px 0 20px;
    background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 1px 3px rgba(0, 0, 0, 0.25);
border-radius: 50px;
overflow: hidden;
    backface-visibility: hidden;
    transition: transform .6s linear;
}
.start-test-active{
    transform: perspective(900px) rotateY(-180deg);
}
.question-number{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}
.name-page {
    font-size: 30px;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}

.test-info{
    padding: 0 15% 0;
    text-align: center;
    margin-bottom: 80px;
    line-height: 1.2;
}
.button-wrapper{
    display: flex;
    justify-content: center;
}
.start-test-button{
    color: #FFFFFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    background: #E7B56B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35), inset 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    padding:10px 0 10px;
    text-align: center;
    width: 30%;
    margin-bottom: 80px;
}
.start-test-button:hover{
    opacity: 0.7;
}

.test-number{
    margin-bottom: 30px;
}
.question-container{
    display: flex;
    gap: 30px;
    padding: 0 25px 0;
    line-height: 0;
    margin-bottom: 40px;
}
.description-and-answer{
    display: inline-block;
    padding: 0;
}
.text-question{
    font-size: 24px;
    line-height: 30px;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}
.answers-list{
    display: block;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    height: 40px;
    font-size: 20px;
    width: 50%;
    padding: 5px 10px 5px;
    margin: 0;
    border: 0;
    background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35), inset 0px 1px 3px rgba(0, 0, 0, 0.25);
border-radius: 22px;
}

.buttons-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 0 25px 0;
}
.button-back{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35), inset 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    padding:1px 0 1px;
    text-align: center;
    width: 20%;
    margin-bottom: 30px;
}
.button-answer{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35), inset 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    padding:1px 0 1px;
    text-align: center;
    width: 20%;
    margin-bottom: 30px;
    background: #9FCB9F;
    color: #FFFFFF;
}
/*стилизуем подвал*/
.footer-container{
    padding: 30px;
    background-color: #F5F5F5;
}