{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/exam-page-style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Comfortaa:wght@400;700&display=swap" rel="stylesheet">
    <title>Экзамен</title>
</head>
<body>
    <header>
        <div class="header-container">
            <nav class="main-nav">
                <div class="main-nav-list">
                    <div class="main-nav-list-item"><a href="{% url 'index' %}">Главная</a></div>
                    <div class="nav-cont">
                        <div class="main-nav-list-item"><a href="{% url 'project' %}">О нас</a></div>
                        <div class ="main-nav-list-item"><a href="#"><img src="{% static 'img/account-logo.svg' %}" alt="логотип входа в аккаунт" width="30" height="30"></a></div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
</body>
</html>