<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header>
        <div class="header-container">
            <nav class="main-nav">
                <div class="main-nav-list">
                    <div class="main-nav-list-item"><a href="{% url 'index' %}">Главная</a></div>
                    <div class="nav-cont">
                        <div class="main-nav-list-item"><a href="{% url 'project' %}">О нас</a></div>
                        <div class ="main-nav-list-item"><a href="#"><img src="{% static 'img/account-logo.svg' %}" alt="логотип входа в аккаунт" width="30" height="30"></a></div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
</body>
</html>